section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}

section h2 {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

.choice {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
}

.choice div {
    margin-right: 5%;
}

.nombre_prod {
    padding-bottom: 3%;
}

.descripcion_prod,
.descuento {
    display: flex;
    gap: 3%;
    padding-top: 2%;
    padding-bottom: 3%;
}

.imgs {
    display: flex;
    padding: 3%;
    gap: 3%;
}

.imgs img {
    width: 100px;
}

.red-underline {
    border-style: none;
    border-bottom: 2px solid #FF3333;
    text-align: center;
}

.modificar-button {
    height: 2.5em;
    /* width: 8em; */
    margin-right: 1.5em;
    margin-bottom: 1em;
    font-size: 0.8em;
    background-color: #FF3333;
    color: white;
    border-style: none;
}