* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*PALLETE*/
    --primary-solid: #FF3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --second-solid: #1D84B5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);
    --grey-text: #B9B9B9;

    /*--secondary-solid*/
    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;


    /*Typography*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /*font sizes*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /*Spacings*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2.0rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;

}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);

}



a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

ul,
ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

/* HEADER */

header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8)var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;

}

.navbar__link:hover {
    background-color: var(--primary-900);
}

.width-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.width-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    width: 300px;
    z-index: 99;
    position: absolute;
    background-color: var(--dark-bg-solid);

}

.submenu__link {
    display: block;
    padding: var(--spacing-8)var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--primary-900);
}

/* FOOTER */
.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);

}

.footer__copy {
    margin-top: var(--spacing-36);
    text-align: center;
}



/* --- CREATE --- */
#create .main-content {
    font-size: 16px;
    /* =16px */
    max-width: 90%;
    height: 54vh;
    min-height: 500px;
    margin: 0 22em;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}

#create .add-item {
    width: 75%;
    margin-bottom: 20px;
}

#create .add-item h2 {
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

#create .choice {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
}

#create .choice label {
    margin-right: 0.5em;
}

#create select {
    height: 1.8em;
    border-radius: 5px;
    width: 12em;
    border: 2px solid;
    color: var(--grey-text)
}

#create label {
    font-weight: bold;
}

#create .choice div {
    margin-right: 5%;
}

#create .nombre-prod {
    padding-bottom: 3%;
}

#create .nombre-prod input {
    min-width: 23%;
}

#create .red-underline {
    border-style: none;
    border-bottom: 3px solid #FF3333;
    text-align: center;
}

#create .descripcion_prod {
    display: flex;
    max-width: 97%;
    gap: 0.6em;
    width: 60%;
}

#create .descripcion_prod div {
    display: flex;
    gap: .6em;
    margin-bottom: 2em;
}

#create .sku input {
    width: 60%;
    margin-right: 1.5em;
}

#create .precio input {
    width: 50%;
}

#create .stock input {
    width: 25%;
}

#create .pago {
    margin-bottom: 2em;
    display: flex;
}

#create .descuento {
    width: 18%;
}

#create .cuotas {
    width: 70%;
}

#create .descuento input {
    width: 27%;
}

#create .cuotas select {
    width: 35%;
}

#create .add-button button {
    height: 2.5em;
    width: 10em;
    margin-right: 1.5em;
    font-size: 0.8em;
    background-color: #FF3333;
    color: white;
    border-style: none;
}

#create .imgs {
    display: flex;
    padding: 3%;
    gap: 3%;
}

#create .imgs img {
    width: 100px;
}


/* --- LOGIN --- */
#login .navbar__link {
    font-family: var(--alternative-font);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#login .main-content {
    font-size: 16px;
    /* =16px */
    max-width: 90%;
    height: 52vh;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}

#login .login {
    margin: 0 auto;
    height: 17em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login .login h2 {
    text-transform: uppercase;
    font-size: 2.6em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin: 0.6em;
}

#login .login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10em;
    width: 30em;
}

#login .credentials {
    padding-top: 3%;
    padding-bottom: 3%;
}

#login .credentials div {
    margin-bottom: 15px;
}

#login .credentials .label {
    width: 10em;
    display: inline-block;
}

#login .credentials label {
    color: var(--dark-solid);
    font-size: var(--font-xsmall);
    font-weight: bold;
}

#login .red-underline {
    border-style: none;
    border-bottom: 3px solid #FF3333;
    text-align: center;
}

#login .ingresar button {
    height: 2.5em;
    width: 8em;
    margin-right: 1.5em;
    margin-bottom: 1em;
    font-size: 0.8em;
    background-color: #FF3333;
    color: white;
    border-style: none;
}

#login .forgot-pass {
    text-decoration: none;
}

#login .forgot-pass p {
    color: #1D84B5;
    font-size: 1em;
}

#login .imgs {
    display: flex;
    padding: 3%;
    gap: 3%;
}

#login .imgs img {
    width: 100px;
}


/* --- ITEM --- */
#item .collection {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    height: 430px;
  }
  
  #item .product-details {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
      box-sizing: border-box;
      padding: 0px 105px 100px;
      margin-left: 30px
  
  }
  
  #item .product-img{
    flex: 1;
    padding: 19px;
    margin-right: 200px;
    
  }
  
  #item .collection-img img{
    width: 200%;
    
    max-height: 400px;
  }
  
  #item .product-text{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 130px;
    margin-bottom: 100px;
    margin-left: 25px;
  }
  
  #item .collection-content{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; 
    
  }
  
  #item .collection-text,
  .collection-price {
    margin-top: 10px;
    
  }
  
  #item .collection-title {
    margin-top: 10px;
  }
  
  #item .collection-price {
     font-size: 23px;
  }
  
  #item .counter-and-cart,
  .enlace-medios-de-pago {
    margin-top: 10px;
    
  }
  
  #item .counter-and-cart {
    display: flex;
    align-items: center;
  }
  
  #item #cantidad {
    width: 50px; 
    padding: 5px; 
    margin-right: 15px; 
  }
  
  #item #agregar {
    background-color: #ff4500;
    border-style: solid;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  #item #agregar:hover {
    background-color: #a09999;
  }
  
  #item .enlace-medios-de-pago a{
    font-size: 14px;
  }
  
              /*PRODUCTOS RELACIONADOS */
  
  
  #item #productos-relacionados {
    display: flex;
    flex-direction: column;
    gap: 20px ;
  }
  #item .title-slider{
     margin-left: 130px;
     margin-bottom: 50px;
     font-family:  'Inter', sans-serif ;
     font-size: 30px;
  }
  
  #item .item {
    font-size: small;
  }
  
  #item h4{
    font-size:18px;
  }
  
  #item .card-figuras{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    gap: 2px;
  }
   #item .card-figura{
    width: 33%;
    transform: scale(1.5);
    height: auto; 
    margin: 60px; /* Establece el margen según tus preferencias */
    padding: 50px; /* Establece el relleno según tus preferencias */
    
  }
  

  
  
  #item .card-promo{
    font-size: x-small;
    color: darkblue;
  }
  
  #item .card-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 16px 16px 16px 16px;
    font-size: smaller;
    max-width: 200px;
    margin: auto;
    text-align:justify;
  }
  
  #item .item-card-cover{
    display: flex;
    position: relative;
    width: 250px;
    margin: auto;
  }
  
  #item .item-card-cover img {
    animation: fade 1.5s;
  }
  
  
  #item .card-img-back{
    display: none;
  }
  #item .item-card-cover:hover .card-img-back{
    display: block;
  
  }
  
  #item .item-card-cover:hover .card-img-front {
    display: none;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
     
    100%{
      opacity: 1;
    }
  
  
  }
  
  #item .card-tag{
    background-color: rgb(236, 51, 51);
    font-size: 14px;
    text-transform: uppercase;
    color: aliceblue;
    padding: 10px 10px 10px 10px;
    position: absolute;
    right: 0;
  }
  
  #item .item-bottom-rest{
    background-color: #515355; 
    color: #fff; 
    font-size: 17px; 
    margin-right: 2px;
    border: none; 
    padding: 5px 10px; 
    cursor: pointer; 
  }
  
  #item .item-bottom-add{
    background-color: #515355; 
    color: #fff; 
    font-size: 17px; 
    margin-right: 14px;
    border: none; 
    padding: 5px 10px; 
    cursor: pointer; 
  }
  
  #item .item-imput {
    font-size: 16px; 
    border: 1px solid #977d7d; 
    padding: 7px; 
    width: 5px; 
    margin-left: 10px;
    margin-top: 2px;
  }

  #item h2 {
    font-size: 25px;
    margin-left: 15px;
  }


/* --- EDIT --- */
/* --- CREATE --- */

/* HOME */


#home body {
    font-family: 'Raleway', sans-serif;
}

#home main {
    font-family: 'Raleway', sans-serif;
}

#home img {
    max-width: 100%;
    min-height: 80%;
    height: auto;
}


/**************************** HOME ******************************/


/* #home .image-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */


#home .banner {
    object-fit: cover;
    width: 100%;
    clip-path: inset(330px 0px 90px 0px);
    position: relative;
    top: -330px;
}

#home .text-content {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 1;
    text-align: left;
}


#home button {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid white;
}

#home button a {
    color: black;
    padding: 38px;
}


/************************* FUNKOS *****************************/



#home .containerCero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: -37rem auto;
}

#home .group {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    text-align: left;
}

#home .group.reverse {
    flex-direction: row-reverse;
}

#home .item {
    width: 38%;
}

#home h3 {
    font-size: 20px;
}

#home .container article {
    padding: 20px;
    margin: 10px;
}

#home .container img {
    max-width: 100%;
    height: auto;
}


#home hr {
    border: 1px solid red;
}

#home .buttonUno {
    background-color: rgb(61, 61, 68);
}

#home .buttonUno a {
    color: white;
}

#home .buttonDos {
    background-color: rgb(61, 61, 68);
}

#home .buttonTres {
    background-color: rgb(61, 61, 68);
}

#home .buttonDos a {
    color: white;
}

#home .buttonTres a {
    color: white;
}



/*************************ULTIMOS LANZAMIENTOS******************/


#home h2 {
    margin: 35px;
    font-size: 25px;
    margin-top: 40rem;
}

#home .contenedor-flex {
    display: flex;
    flex-direction: row;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 60px;
}


#home h5 {
    font-size: 16px;
    color: white;
    text-align: center;
    width: 100px;
    padding: 9px;
    float: inline-end;
    background-color: red;
}

#home .funkoPrecio {
    color: black;
}

#home .funkoPrecio p {
    font-family: 'Inter', sans-serif;
}

#home .funkoPrecio h4 {
    font-family: 'Inter', sans-serif;
}

#home .funkoPrecio1 {
    color: black;
}

#home .funkoPrecio1 h4 {
    font-family: 'Inter', sans-serif;
}

#home .funkoPrecio1 p {
    font-family: 'Inter', sans-serif;
}

#home .funkoPrecio2 {
    color: #111111;
}

#home .funkoPrecio2 h4 {
    font-family: 'Inter', sans-serif;
}

#home .funkoPrecio2 p {
    font-family: 'Inter', sans-serif;
}

#home .glide__arrows button{
    color: black;
    border-radius: 1px;
}

/*********************** REGISTER *************/

#register body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f2f2f2;
    margin: 5;
    padding: 5;
}

#register h2{
    font-weight: bold;
    text-align: center;
}

#register .container_register {
    margin: 20px;
    padding: 20px;
    background-color:white;
    border-radius: 5px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#register form {
    text-align: left;
}

#register label, input {
    display: block;
    margin-bottom: 10px;
}

#register input[type="text"],
#register input[type="email"],
#register input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#register input[type="submit"] {
    background-color: rgb(160, 65, 65);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    font-size: 16px;
}

#register input[type="submit"]:hover {
    background-color: #e61430;
    color: black;
    font-weight: bold;
}

/************ FIN REGISTER **************/

/***********************SHOP**************************/

#shop html{
    font-family: var(--base-font);
    font-size: 62.5%;
    color:var(--dark-solid);

}
#shop a{
    text-decoration : none;
    font-family: inherit;
    color: inherit;
}

#shop header,
footer {
    font-family:var(--alternative-font) ;
    color:var(--light-font-solid);
}
#shop ul,ol {
    list-style-type: none;
}

#shop p{
    font-size: 1.8em;
}

#shop img{
    width: 100%;
}

#shop .container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER*/

#shop header{
    background-color:var(--dark-bg-solid);
    padding: var(--spacing-36);
}

#shop .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#shop .navbar__logo{
    max-width : 300px;
}
#shop .navbar__menu{
   display: flex; 
   align-items: center;
   gap: var(--spacing-20);
}

#shop .navbar__link{
    font-size: var(--font-medium);
    padding: var(--spacing-8)var(--spacing-16);
    display:inline-block;
    transition: background .3s ease-in-out;
    position: relative;

}

#shop .navbar__link:hover {
    background-color: var(--primary-900);
}

#shop .width-icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

#shop .width-submenu:hover .submenu{
    display: block;
    
}
#shop .submenu{
    display: none;
    width: 300px;
    position: absolute;
    background-color:var(--dark-bg-solid);
    z-index: 99;
   
}

#shop .submenu__link{
    display: block;
    padding: var(--spacing-8)var(--spacing-16);
    font-size: var(--font-medium) ;
    transition: background .3s ease-in-out;
}

#shop .submenu__link:hover {
    background-color: var(--primary-900);
}

/*Aside*/
.row{
    display: flex;
    gap: var(--spacing-24);
}

aside{
    width: 243.04px;
    height: 493.93px;
    top: 212px;
    left: 110px;
    border-radius: 6px;
    background-color: white;
    padding: var(--spacing-16);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);  
    
}
/*SECTION*/

section{
    display: flex;
    width: 960.03px;
    height: 1608px;
    top: 212px;
    left: 368px;
    background: white;
}

/*FORM*/
form {
    width: 243.04px;
    height: 493.93px;
    top: 212px;
    left: 110px;
    border-radius: 6px;
}
.form-title label,
.form-title input {
  display: block;
  
}
.form-title label{

    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Inter;
    color: #111;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
;
  }
  .form-title input{

  }
  .form-subtitle label{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: normal;
  }

/*PAGINATION*/

.pagination {
    display: flex;
    align-items: center;
    gap: 8px;
    
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;

  }
  
  .pagination a {
    display: flex; 
    color:black;
    cursor: pointer;    
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 4px;
    border: 1px solid #DFE3E8;
    margin: 0 5px;
  }
  
  
  .pagination a.active {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: red;
    border: 1px solid #FF3333;
  }

  .pagination a:hover:not(.active) {       
    border: solid 1px black;
  }
  
    
  .pagination a.prev,
  .pagination a.next {
    display: flex;
    align-items: center;
  }
  
  .pagination a.prev {
    margin-right: 10px;
  }
  
  .pagination a.next {
    margin-left: 10px;
  }
  

/*SLIDER*/

#shop .slider{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

#shop .slider__items{
    display: flex;
    gap:var(--spacing-24);
    flex-wrap: wrap;
}
#shop .slider__item{
    width: 30%;
}

/*.slider__item{
  

}*/
#shop .card-item__cover{
    display: flex;
    position: relative;
}

#shop .card-item__tag{
    font-size:var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}

#shop .card-item__cover img{
    animation:fade 1.7s;
}
#shop .card-item__img--back{
    display: none;
}
#shop .card-item__cover:hover .card-item__img--back{
    display: block;
}

#shop .card-item__cover:hover .card-item__img--front{
    display: none;
}

#shop .card-item__content{
    display: flex;
    flex-direction:column;
    gap:var(--spacing-12);
    padding:var(--spacing-16);
}

#shop .card-item__licence{
    font-size: var(--font-medium);
    font-weight: 500;
}

#shop .card-item__name{
    font-size: var(--font-medium);
    font-weight: 700;
}
#shop .card-item__price{
    font-size: var(--font-small);
    
}

#shop .card-item__promo{
    font-size: var(--font-xsmall);
   /* color: var(--secondary-solid);*/
   color: var(--second-solid);
    font-weight: 700;
}




/*FOOTER*/
#shop .footer{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);

}

#shop .footer__copy{
    margin-top: var(--spacing-36); 
    text-align: center;
}


/*ANIMATIONS*/

/* #shop @keyframes fade {
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
} */

/* INICIO DE CARRITO*/

#carrito ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#carrito img:not(#carrito > header > nav img) {
    width: initial;
}

#carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrito > header,footer {
    width: 100%;
}

#carrito .burbujanotificacion {
    background-color: #FF4848;
    width: 18px;
    height: 18px;
    font-size: 11px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 400;
    font-family: 'Inter';
    position: absolute;
    transform: translate(9px, -6px);
}

#carrito .navbar__carrito {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#carrito .formatodepagina {
    max-width: 1200px;
    width: 100%;
}

#carrito h3 {
   text-align: right;
}

#carrito .titulo {
    font-family: 'Raleway', sans-serif, system-ui;
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    margin:128px 0px 60px 0px
}

#carrito .subtitulo {
    margin: 36px 0px 18px 0px;
}

#carrito .titulodescripcion {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    color:rgba(17, 17, 17, 1);
}

#carrito .nombredescripcion {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    margin: 0 0 27px 0;
    text-transform: uppercase;
    color:#30343F;
}

#carrito .preciodescripcion {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    margin: 0;
    color:#333333;
}

#carrito .preciototal {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color:#333333;
}

#carrito .titulodecategoria {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    margin: 0;
    text-transform: uppercase;
}

#carrito .valordecategoria {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    color:#747474;
    margin: 0;
}

#carrito .titulototal { 
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color:#000000;
    margin: 0;   
}

#carrito .valordeltotal {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color:#747474;
    margin: 0;
}

#carrito .subrayado {
    border-bottom: 5px solid rgba(255, 51, 51, 1);
    padding-bottom: 10px;
    display: inline-block;
}

#carrito .listainterna{
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    padding: 1.6rem 62px 1.6rem 16px;
    display: flex;    
}

#carrito .descripcionproducto {
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 20px;
}

#carrito .elementolistainterna {
    flex:1;
    text-align: center;
}

#carrito .elementolistainterna:first-child {
    flex:2;
}

#carrito .elementolistainternaproducto {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrito .controldecantidad {
    display: flex;
    justify-content: center;
}

#carrito .inputcantidad {
    border:1px solid rgba(201, 201, 201, 1);
    width: 89.48px;
    height: 40px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    margin-right: 8px;
}

#carrito .inputcantidad::-webkit-inner-spin-button {  
    display: none;
}

#carrito .botonmasymenos {
    background-color: rgba(242, 78, 30, 1);
    border: none;
    min-height: 16px;
    min-width: 18px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#carrito .botonmasymenos:focus {
    background-color: rgba(255, 91, 43, 1);
}

#carrito .direccionmasymenos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#carrito .elementolistainternaproducto:last-child {
    flex:0;
    min-width: 46px;
}

#carrito .elementolistainternaproducto:first-child {
    flex:2;   
}

#carrito .espacioentrecajas {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-bottom: 32px;
}

#carrito .cajachica {
    font-family: 'Inter', sans-serif;
    background-color: rgba(250, 250, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-bottom: 3.2rem;
    color: rgb(0, 0, 0);
    padding: 0px;
}

#carrito .cajagrande {
    font-family: 'Inter', sans-serif;
    background-color: rgba(250, 250, 255, 1);
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    min-height: 195px;
    padding: 16px;
}

#carrito .botonremover {
    background: none;
    border: none;
    cursor: pointer;
}

#carrito .seccionresumen {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    margin-bottom: 128px;
}

#carrito .resumencontenedor {
    max-width: 572px;
}

#carrito .categoriaresumen {
    display: flex;
    justify-content: space-between;    
}

#carrito .cajachicavertical {
    display: flex;
    flex-direction: column;
    min-width: 572px;
    padding: 24px;
    margin-bottom: 4.4rem;
    gap: 18px;
}

#carrito .categoriaresumen:last-child {
    border-top: 2px solid rgba(255, 51, 51, 1);
    padding: 8px 0px 0px 0px;
    margin-bottom: 0;
}

#carrito .botonpagar {
    background-color: rgba(255, 51, 51, 1);
    display: flex;
    justify-content: center;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
}

/*FIN CARRITO*/


/*-----------ADMIN----------*/
#admin .search__container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;

}

#admin .search {
    width: 590.88px;
    height: 44.28px;
    display: flex;
    align-items: center;

}

#admin .search__button {
    Width: 40px;
    Height: 30.76px;
    Left: 5.25px;
    border: none;
    background-color: #FFF;

}

#admin .search__imput {
        width: 529.76px;
        height: 44.28px;
        top: 180px;
        left: 171.12px;
        border-radius: 6px;
        border: 2px solid #30343F

}

#admin .table_primari ¨{

    width: 1440px;
    height: 1568px;
    background: #FFF;
    align-items: center;
    }
    



#admin table {
    border-collapse: collapse;
    text-align: left;
    margin: auto;
    Width: 80%;
    Height: 90%;
    Top:-1239px;
    Left:-1000px;
    cursor: pointer;

}

#admin tr {
    transition: all ease 300ms;

}



#admin tr:hover {
    background-color: #48b9ee;
    color: #FFF;

}

#admin tr:active {
    background-color: #159ad8;
    color: #FFF;

}

#admin .flex_item1 {
    position: relative;
    gap: 100px;

}
    




/* --- td {
    padding: 20px 1200px;
    Width: 313px;
    Height: 61px;
    Top: 518.65px;
    Left: 420.25px;}---*/

#admin .title_list{
    color: #1F1F1F;
    text-align: left;
    font-family: "Raleway";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;

}




#admin .agregar {
    color: #1F1F1F;
    text-align: right;
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
}

#admin .btn {
    background:none;
    border: none;
}

#admin .btn:hover{
    cursor: pointer;



}

#admin .table  {width: 1086.268px;
    height: 61px;
    flex-shrink: 0;


}

---------------------------------------------------------------------

#admin .id {
    color: #1F1F1F;
    text-align: right;
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;

}

#admin .codigo {
    color: #1F1F1F;
    text-align: right;
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;


}

#admin .name_product {
    color: #1F1F1F;   
    text-align: right;
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;

}

#admin .categoria {

    color: #1F1F1F;
    text-align: right;
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
}


#admin .container {
    width: 1086.268px;
height: 61px;
flex-shrink: 0;

}

#admin .order {color: #1F1F1F;

    text-align: center;
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 253.523%; /* 60.845px */
    letter-spacing: 0.96px;}

#admin .cod {color: #1F1F1F;
    text-align: center;
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 253.523%; /* 60.845px */
    letter-spacing: 0.96px;}

#admin .name {
    color: #1F1F1F;
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 253.523%; /* 60.845px */
letter-spacing: 0.96px;
}

#admin .genero {
    color: #1F1F1F;
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 253.523%; /* 60.845px */
letter-spacing: 0.96px;
}

#admin td.edit_button button{
   border: 0;
   background-color: #FFF;
    width: 45px;
  
}

#admin td.delete_icon button{
    border: 0;
   background-color: #FFF;
   width: 45px;
}