<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head.ejs'); %>
    </head>
<body id="login">
    <!-- INICIO HEADER -->
    <header>
        <%- include('./header_auth.ejs'); %>
    </header>
    <!-- FIN DE HEADER -->
    <!-- INICIO ASIDE-->
    <!--inicio form-->
    <section class="main-content">
        <div class="login">
            <h2>Ingresar a mi cuenta</h2>
            <form>
                <div class="credentials">
                    <div class="email-field">
                        <div class="label">
                            <label for="email">Email:</label>
                        </div>
                        <input id="email" type="email" value="" placeholder="johndoe@correo.com" class="red-underline">
                    </div>
                    <div class="password-field">
                        <div class="label">
                            <label for="password">Contraseña:</label>
                        </div>
                        <input id="password" type="password" value="" class="red-underline">
                    </div>      
                </div>
                
                <div class="ingresar">
                    <button type="submit">Ingresar</button>
                    <input type="checkbox"> Recordarme
                </div>
                <a class="forgot-pass" href="#"><p>Olvidé mi contraseña</p></a>
            </form>
        </div>
    </section>
    <!--FIN MAIN-->
    <footer class="footer">
        <%- include('./footer_auth.ejs'); %>
    </footer>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>